h3{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: white;
    margin-top: -20px;
}

.hubungi-note{
    justify-content: center;
    box-align: center;
    margin: auto;
}

.container-hubungi{
    position: relative;
    display: flex;
    flex-direction: column;
    /* max-width: 1316px; */
    justify-content: center;
    box-align: center;
    margin-bottom: 80px;
}

.hubungi-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 960px;
    height: 640px;
    max-height: 680px;
    justify-content: center;
    box-align: center;
    margin: auto;

    background-color: #131216;
    box-shadow: 0px 0px 13.0978px #1B0CA1;
    border-radius: 10px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 770px;
    max-width: 800px;
    justify-content: center;
    box-align: center;
    margin: 20px 0px;
}

.form-field{
    /* color: #644EEC; */
    width: 700px;
    margin: 5px;
}