h3{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.container-hubungi{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1316px;
    justify-content: center;
    box-align: center;
    margin: auto;
}

.hubungi-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 964px;
    justify-content: center;
    box-align: center;
    margin: auto;
    /* height: 641.04px;
    left: 238px;
    top: 3573px; */

    background: #131216;
    box-shadow: 0px 0px 13.0978px #1B0CA1;
    border-radius: 10px;
}