body{
  background-color: #0D0C0F;
}

.cards {
    padding: 4rem;
  }
  
  h2 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 32px;
  }

  h5 {
      text-align: left;

  }

  .cards__wrapper {
    position: relative;
    margin: 40px 14.5%;
  }

  .testi__wrapper {
    position: relative;
    margin: 40px 8.82%;
  }

  .slider__icon__left {
      color: #645E6F;
      position:absolute;
      display:flex;
      height: 61px;
      width: 61px;
  }

  .slider__icon__right {
    color: #645E6F;
    position:absolute;
    display: flex;
    height: 61px;
    width: 61px;
}
  
  .cards__item {
    background-color: #1D1C21;
    box-shadow: 0px 0px 3.81415px #1B0CA1;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  .testi__item {
    background-color: #131216;
    box-shadow: 0px 0px 3.81415px #1B0CA1;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  .testi__item__link {
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    height: 332px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  .testi_container {
    margin-top: 25px;
    height: 1px;    
  }
  
  .cards__item__pic-wrap {
    position: relative;
    height: 100%;
    margin-top: 0%;
    padding-right: 67%;
    overflow: hidden;
  }

  .testi__item__photo {
    position: relative;
    height: 28%;
    display: flex;
    margin: 27.5px 39px 0 39px;
  }

  .testi__item__photo-wrap {
    clip-path: circle();
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__logo {
    margin-bottom: 67px;
  }

  .cards__item__info {
    padding: 42px 46px 92px;
  }

  .testi__item__info {
    position: relative;
    top: 27.45px;
    left: -15px;
    width: 55%;
    margin-bottom: 45px;
  }
  
  .cards__item__text {
    color: #fff;
    font-size: 23px;
    line-height: 24px;
    font-weight: 700;
  }

  .testi__item__text {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: -5px;
    margin-top: 20px;
    font-weight: 700;
  }

  .cards__item__underline {
    display: block; 
    background-color: white;
    margin-top: 15.26px; 
    margin-bottom: 25px; 
    margin-right: auto; 
    width: 156.38px;
    height: 5px;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
  }

  .testi__item__position {
    color: #644EEC;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 25px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .cards__item__desc {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    width: 320px;
    text-align: justify;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .testi__item__desc {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  .cards__item__date {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    width: 320px;
    text-align: left;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }